body {
  @include body-font;
}

.tag {
  padding: 2rem;
  background-color: white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-bottom: 3rem;
}

.badge {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  background: #d50000;
  border: 2px solid #d50000;
  border-radius: 5px;
  padding: 2px;
  display: inline-block;
  transform: translate(5%, -15%);
}

.badge-h3 {
  display: inline-block;
  font-size: 1.67rem;
  margin-top: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}

.js-yellow {
  /* You can multiply the width by 0.58 to get the font-size..
     so for a 100px logo, font size is 100 * 0.58 = 58px */
  //  width:200px;
  //  height:200px;
  font-size: calc(attr(width) * 0.58);
  /* font-size: calc( attr(width) * 0.58 )... If only one could. */
  /* oh god no... can someone please get http://www.houseind.com/fonts/neutraface2 into the public domain. */
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  letter-spacing: -1px;
  line-height: 1.1em;
  font-weight: 700;

  background-color: #f3df49;
  color: #2e2e2c;
  /* Increase the font weight with a faux-outline...*/
  //  text-shadow:1px 1px 0px #2e2e2c;
  /* ...but too much and you trade-off the sharpness of the font. */
  /*text-shadow:-1px 0 #2e2e2c, 0 1px #2e2e2c, 1px 0 #2e2e2c, 0 -1px #2e2e2c;*/
}

.spam_policy {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: #b5b5b5;
}

input[type="email"] {
  font-size: 1rem;
}

.instructions {
  padding: 0 0 2rem 0;
}

.justify {
  text-align: justify;
}


@media screen and (min-width: 1008px) {
  .tag {
    transform: translateY(-50%);
    margin-bottom: 0;
  }
}


.error-border {
    // Show a border around error message
  border: 0.1em solid #B22222;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.error {
  background-image: url("../img/close.svg");
  position: absolute;
  top: 1.1em;
  right: 1em;
  z-index: 2;
  display: block;
  width: 0.75em;
  height: 0.75em;
  line-height: 34px;
  text-align: center;
  pointer-events: none
}

.failure, .success, .loading {
  align-self: center;
  height: 8em;
  transform: translate(0em, -4em);
  background-color: white;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.modal-body {
  transform: translate(0em, -4em)
}

#modal-header-text {
  font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 4em
}

#json-response {
  font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 1.35rem;
  text-align: justify;
}

div#cta-social {
  margin-left: 1rem;
}

.hidden {
  display: none;
}

.loading-elipsis:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
/*   -webkit-animation: ellipsis steps(4,end) 900ms infinite;       */
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0;
}

@keyframes ellipsis {
  to {
    width: 1em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1em;
  }
}